:root {
    --variable-collection-logo: rgba(75, 74, 74, 1);
    --variable-collection-nav-image: rgba(173, 171, 171, 1);
    --variable-collection-button: rgba(179, 179, 179, 1);
    --variable-collection-description: rgba(179, 179, 179, 1);
  }
  